In [ ]:
import pandas as pd

In [ ]:
vix = pd.read_parquet('data/vix_pivot.parquet')
spreads = pd.read_parquet('data/vix_spreads.parquet')
yahoo = pd.read_parquet('data/yahoo.parquet')

In [ ]:
vix.tail(3)

,1.0_Close,2.0_Close,3.0_Close,4.0_Close,5.0_Close,6.0_Close,7.0_Close,8.0_Close,DTR,DFR
Trade_Date,,,,,,,,,,
2024-12-24,15.95,16.83,17.20,17.50,17.78,17.92,18.25,18.40,29,6.0
2024-12-26,16.06,16.95,17.40,17.65,17.94,18.08,18.36,18.49,27,8.0
2024-12-27,16.95,17.53,17.91,18.13,18.34,18.47,18.75,18.79,26,9.0

In [ ]:
yahoo.tail(3)

,CL=F,GC=F,HG=F,^FVX,^GSPC,^IRX,^TNX,^TYX,^VIX,^VVIX
2024-12-24,70.099998,2620.000000,4.0495,4.438,6040.040039,4.200,4.591,4.765,14.27,91.050003
2024-12-26,69.620003,2638.800049,4.0720,4.433,6037.589844,4.215,4.579,4.762,14.73,92.769997
2024-12-27,70.599998,2617.199951,4.0625,4.456,5970.839844,4.178,4.619,4.811,15.95,98.809998